.header {
  height: 12.5rem;
  left: 0rem;
  right: 0rem;
  top: 0rem;
  background: var(--gray-700);
}

.header > img {
  position: absolute;
  width: 1.375rem;
  height: 2.25rem;
  left: calc(50% - 1.375rem/2 - 3.25rem);
  top: 5.125rem;
}

.headerText {
  position: absolute;
  width: 5.75rem;
  height: 3rem;
  left: calc(50% - 5.75rem/2 + 1.063rem);
  top: 4.5rem;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 3rem;
}

.blueText {
  color: var(--blue-100);
}

.purpleText {
  color: var(--purple-500);
}
