.taskBox {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
  gap: 1rem;

  width: 46rem;
  height: 15.25rem;

  border-top: 1px solid var(--gray-400);
  border-radius: 8px;

}

.taskBox > img {
  width: 3.5rem;
  height: 3.5rem;
}

.noTaskText {
  display: flex;
  flex-direction: column;
  width: 43rem;
  height: 2.75rem;

  font-size: 1rem;
  line-height: 140%;
  text-align: center;

  color: var(--gray-300);
}
