.task {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3.25rem 36.875rem 3.25rem;
  width: 100%;
  height: 4.5rem;
  gap: 0.75rem;

  background: var(--gray-500);

  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
}

.task + .task {
  margin-top: 1rem;
}

.task > svg, img {
  margin: auto;
  margin-bottom: 1.875rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.task > span {
  padding: 1rem 1rem 1rem 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
}

.removeTaskIcon {
  cursor: pointer;
}

.removeTaskIcon:hover {
  color: var(--red-500);
}

.taskCheckCircleIcon {
  color: var(--blue-100);
}

.closedTask {
  text-decoration: line-through;
}

.openTask {
  color: var(--gray-100);
}
