:root {
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;

  --purple-100: #8184f9;
  --purple-500: #5d60ce;

  --blue-100: #4ea8de;
  --blue-500: #1f6e9f;

  --red-500: #e25858;
}
